h1 {
    border-bottom: 1px solid gray;
}

.flex-container {
    display: flex;
}

.align-item-center{
    align-items: center;
}
img {
    border: 1px solid gray;
    border-radius: 50%;
    width: 100px;
    height: 50px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-53 {
    margin-bottom: 53.5px;
}
.flex-direction-column {
    flex-direction: column;
}

.location {
    border: 1px solid rgb(113, 109, 109);
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 100px;
}

.home-site:hover {
    background-color: blue;
    color: white;
}

.contact-site:hover {
    background-color: rgb(65, 65, 245);
    color: white;
}

.flex-container, section {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    flex-direction: column;
    align-items: center;
    color: rgba(240, 248, 255, 0.725);
}

.mb-100 {
    margin-bottom: 100px;
}

.user-information {
    margin: 0 auto;
    width: fit-content;
}

label {
    text-align: right;
}

.message {
    height: 50px;
}

.submit {
    width: 100px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}